:root {
  --circle-color: white;
  --main-color: #0088a6;
}

body {
  background-image: url("/images/Desktop\ -\ 2.png");
  background-size: cover;
}

/* #logo:hover {
  cursor: pointer;
  transition: all 300ms;
  color: var(--main-color);
} */

/* HEADER */

.title {
  color: var(--main-color);
}

.button {
  border: 4px solid var(--main-color);
  border-radius: 40px;
  padding: 0.8rem;
  width: 15rem;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 300ms;
}

.button:hover {
  background-color: var(--main-color);
}

.background {
  background-color: hsla(0, 0%, 0%, 0.5);
}

.clippy-card {
  clip-path: polygon(100% 75%, 100% 100%, 0 100%, 0 70%);
}

.hr {
  margin-top: 5rem;
  margin-bottom: 5rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  height: 0.1rem;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.infoBox {
  background-color: rgb(0, 2, 105);
  width: 100%;
  height: 20rem;
  margin: auto;
}

.white-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  font-weight: 600;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 5px;
  transition: all 300ms;
}

.white-button:hover {
  background-color: white;
  color: black;
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

/* INFO BOX */

.IB_modal {
  z-index: 200;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
}

.IB_modal_window {
  border: 2px solid var(--main-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-wrap: break-word;
}

.close-button {
  border: 2px solid var(--main-color);
}
